<section class="container">
  <div class="row">
    <div class="col-md-6">
      
      <div class="w-100">
        <p class="h1 text-primary">¿Cómo puedes preguntarle a <b> CAbot </b>?</p>
        <p class="h4 texto">
          Con CAbot queremos que <b>aclares todas tus dudas conceptuales</b>
          referentes a control automático.
        </p>
        <img
          class="img-fluid"
          src="../../../assets/imagenes/FotoManual.jpg"
          alt="Imagen Manual de Usuario"
        />
      </div>
    </div>
    <div class="col-md-6">
      <!-- Pasos para hacer preguntas escritas -->

      <p class="h2 text-primary">Preguntas Escritas</p>

      <p class="h4 texto">
        Interacciona con nuestra Inteligencia Artificial por medio de preguntas
        escritas.
      </p>


      <ol class="h4 texto">

        <li>
          El usuario ingresa a la sección de dialogo con el bot dando clic en
          <b>empezar</b> o haciendo clic en el icono que se encuentra en la
          <b>esquina inferior derecha.</b>
        </li>

        <li>
          <b>Se ingresa la pregunta </b>que se desea aclarar por medio del
          <b>cuadro de texto</b> del chat.
        </li>

        <li>
          <b>Se Espera</b> que la pregunta sea respondida,
          <b>la respuesta se podrá ver y escuchar en la plataforma</b>.
        </li>

        <li>
          El usuario puede revisar en todo momento otras secciones de la
          plataforma
          <b>sin que se pierdan sus mensajes anteriormente escritos</b>.
        </li>

      </ol>

      <p class="h2 text-primary">
        Preguntas por medio de voz:
      </p>

      <p class="h4 texto">
        Interacciona con nuestra Inteligencia Artificial por medio de
        preguntas por medio de voz.
      </p>
      <ol class="h4 texto">
        <li>
          El usuario ingresa a la sección de dialogo con el bot dando clic en
          <b>empezar</b> o haciendo clic en el icono que se encuentra en la
          <b>esquina inferior derecha</b>.
        </li>
        <li>
          <b>Se ingresa la pregunta </b>que se desea aclarar por medio del
          <b>botón verde</b> que se encuentra en la caja de mensaje.
        </li>
        <li>
          Una vez empiece la grabación de voz,
          <b>el botón se pondrá en color rojo</b>. Una vez termines de decir
          tu pregunta, <b>dale clic al botón rojo</b>.
        </li>
        <li><b>Espera tu respuesta</b>.</li>
      </ol>





    </div>
  </div>
</section>
