.grid-container {
  margin: 20px;
}

.loader{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: black;
  opacity: 0.8;
  
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.tamaCarta{
  height: auto;
}

.img-boot-space{
  height: 47%;
  width: 80%;
  position: relative;
  left: 10%;

}




/* .container-fluid{
  background-color: #cafafe;
} */
