
<div class="row">
    <div *ngIf="servicioCarga.Cargando | async" class='loader'>
        <mat-spinner style="top:50%; left:50%;"></mat-spinner>

    </div>
</div>

<div class="container-fluid mx-auto bg-info preguntas" style="display: none;">
    <div class="row">
        <div class="col-xl-4">
            <div class="row justify-content-center">
                <p class="h1 text-center font-weight-bold">Top 5 preguntas realizadas</p>
            </div>

            <mat-card *ngFor="let dat of data" class="row mt-3 ml-3 mr-3 tamaCarta">
                <mat-card-header class="h1">
                    <mat-card-title><p class="h1">{{ dat._id.Pregunta }} </p></mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p class="text-justify h5">
                        {{dat._id.Respuesta}}
                    </p>
                    <!-- Boton de mas informacion -->
                    <div class="row d-flex justify-content-center">
                        <button mat-raised-button class="btn-warning" *ngIf="dat._id.videos" (click)="openDialog(dat._id.videos)">Haz clic para más información <mat-icon>info</mat-icon></button>

                    </div>
                    
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col-xl-8">
            
            <mat-card class="row mt-3 ml-3 mr-3 mb-2">
                <mat-card-header>
                    <mat-card-title>Estadísticas de preguntas</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <canvas id="Grafica" #Grafica>

                    </canvas>
                </mat-card-content>
            </mat-card>

            <img class="img-thumbnail img-boot-space" src="../../../assets/imagenes/TOCLICK.png" alt="Foto-bot">
        </div>
    </div>
</div>
