.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}


.sidenav .mat-toolbar {
  background: inherit;
}


.heredero{
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-weight: inherit;
}
@media (min-width:768px){
  .sidenav{
  display: none;
  }
}
@media (max-width:768px){
  .navPri{
    display: none;
  }
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.FondoNav{
  background-color: #283747;
  color: white;
  font-weight: bold;
}

.espacio{
  padding: 5px;
}

.space{
  flex: 1 1 auto;
}

.rutas{
  width: 100%;
}







