<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav FondoNav"
  fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-white text-uppercase font-weight-bold">Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" class="text-white text-uppercase font-weight-bold"> <mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item routerLink="/questions" class="text-white text-uppercase font-weight-bold"> <mat-icon>contact_support</mat-icon>Preguntas frecuentes </a>
      <a mat-list-item routerLink="/about-us" class="text-white text-uppercase font-weight-bold"> <mat-icon>face</mat-icon>Nosotros</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="FondoNav">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async" else menuPrincipal>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img class="espacio" src="../../assets/imagenes/Logo.png">CAbot</span>
      <div class="space"></div>
      <div class="navPri">
        <a mat-button routerLink="/home"> <mat-icon>home</mat-icon>Inicio</a>
        <a mat-button routerLink="/questions"> <mat-icon>contact_support</mat-icon>Preguntas Frecuentes</a>
        <a mat-button routerLink="/about-us"> <mat-icon>face</mat-icon>Nosotros</a>
      </div>
      </mat-toolbar>
    <div class="rutas">
    <router-outlet></router-outlet>
    </div>
    <!--<iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/9fee3223-712b-470e-8daf-9fe2e3343b37"></iframe>
    -->
  </mat-sidenav-content>
</mat-sidenav-container>