mat-toolbar{
  color: #f3f3f3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

mat-nav-list a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;

}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navColor{
  background-color: #283747;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
}

.logo{
  width: 10%;
  height: 100%;
  border-radius: 50%;
}

.logo2{
  width: 80%;
  height: 70%;
  border-radius: 50%;
  margin-top: 10px;
}




