<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0"><b>Bienvenidos</b></h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <mat-icon>code</mat-icon>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading-->
    <p class="mb-0 h4">
      Este es <b>CAbot</b> tu asistente diseñado para
      <b>responder</b>
      tus dudas referentes a la asignatura de <b>control automático</b>
    </p>
    <!-- Botón principal para empezar el chat -->
    <button
      class="btn btn-primary mt-3 mb-3 btn-lg btn-block text-uppercase"
      routerLink="/chat"
    >
      <b>Empecemos</b>
    </button>
    <!-- Masthead Avatar Image-->
    <img
      class="masthead-avatar mb-5"
      src="../../assets/imagenes/TOCLICK.png"
      alt=""
    />
  </div>
</header>
