<div class="container shadow">
    <div class="headerM">

        <div class="headerM-img">
            <img src="../../../assets/imagenes/TOCLICK.png">
        </div>

        <div class="activo">
            <h4> CAbot </h4>
            <h6> Disponible</h6>
        </div>
        <div *ngIf="servicioCarga.Cargando | async" class='loader'>
            <mat-progress-bar mode="indeterminate">

            </mat-progress-bar>
        </div>

    </div>

    <div class="chat-p shadow">
        <cdk-virtual-scroll-viewport itemSize="20vh" class="caja-mensajes">
            <div class="chats">
                
                <div class="msg" *ngFor="let respuesta of respuestas;">
                    <div class="boot-msg">
                        <!-- Poner ngFor aca para mensajes del boot -->
                        <div class="boot-img">
                            <img class='shadow' src="../../../assets/imagenes/TOCLICK.png">
                        </div>

                        <div class="boot-text " *ngIf="respuesta.boot.estado">
                            <div class="boot-text-inbox">
                                <p class='shadow'> {{ respuesta.boot.texto }}</p>
                                <span class="tiempo"> {{ respuesta.boot.fecha | date:'short' }} </span>
                            </div>
                        </div>

                    </div>

                    <div class="user-msg " *ngIf="respuesta.user.estado">
                        <!-- Poner ngFor aca para mensajes del usuario -->

                        <div class="user-img ">
                            <img class='shadow' src="../../../assets/imagenes/user.png">
                        </div>
                        <div class="user-text">
                            <div class="user-text-inbox">
                                <p class='shadow'> {{ respuesta.user.texto }}</p>
                                <span class="tiempo"> {{ respuesta.user.fecha | date:'short' }} </span>
                            </div>
                        </div>






                    </div>









                </div>


            </div>


        </cdk-virtual-scroll-viewport>

    </div>

    <div class="chat-botton">
        <form class="input-group" [formGroup]="formularioMensajes" (ngSubmit)="enviarMensaje()">
            <input required type="text" class="form-control" placeholder="Escriba su pregunta..." formControlName="texto">
            <div class="input-group-append">
                <form (submit)="pararGrabar()">
                    <button class="btn btn-success" (click)="grabar()" *ngIf="!recording">
                        <mat-icon> record_voice_over </mat-icon>
                    </button>
                    <button type="submit" class="btn btn-danger" (click)="pararGrabar()" *ngIf="recording">
                        <mat-icon> record_voice_over </mat-icon>
                    </button>
                </form>
                <button class="btn btn-primary" type="submit" [disabled]="formularioMensajes.invalid">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
    </div>