.imagenesSlider{
  height: inherit;
  width: 80%;
  max-height: 800px;
  margin-left: 10%;
}
.container{
  background-color: #6c757dbd;
}
.contenedorTexto{
  background-color: rgb(0 0 0 / 20%);
}
.imagen-alfredo{
  background-image: url('../../../assets/imagenes/Alfredo.jpg');
}
@media (min-width:768px){
    .limites{
      max-width: 90%;
      max-height: 90%;
    }
    .margen{
        padding-top: 30%;
       
    }
    
  }

@media (min-height: 531px){
  .imagenesSlider{
    height: 100vh;
    width: 80%;
    max-height: 800px;
    margin-left: 10%;
  }

  .espaciosBlancos{
    height: 100%;
  }
}



.imagenesDesarrolladores{
  /* background-image: url('../../../assets/imagenes/Alfredo.jpg'); */
  height: fit-content;
  width: fit-content;
  display: block;
  margin: auto;
  

}
