
@media (min-width:768px){
    .limites{
      max-width: 90%;
      max-height: 90%;
    }
    .margen{
        padding-top: 30%;
       
    }
  }

.imagenesSlider{
  height: auto;
  width: 100%;
}

.imagenesDesarrolladores{
  /* background-image: url('../../../assets/imagenes/Alfredo.jpg'); */
  height: fit-content;
  width: fit-content;
  display: block;
  margin: auto;
  

}
