.container{
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
  }
@media (min-width:768px){
    .limites{
      max-width: 90%;
      max-height: 90%;
    }
    .margen{
        padding-top: 30%;
       
    }
  }
