<nav class="navbar mx-auto cssNavbar">
    <div class='logoPagina ml-3'>
    <figure>
        <img src='../../../assets/imagenes/Logo.png'>
    </figure>
    <p class='titulo'>CABOT</p>
    </div>

    <div>
        <ul class="rutasPantalla">
        <a routerLink="/home"><mat-icon>home</mat-icon>Inicio</a>
        <a routerLink="/questions"><mat-icon>contact_support</mat-icon>Preguntas frecuentes</a>
        <a routerLink="/about-us"><mat-icon>face</mat-icon>Nosotros</a>
        <a routerLink="/instructions"><mat-icon>assignment</mat-icon>Instrucciones</a>
        </ul>
        <button (click)="desplegarMenu()" class='botonCelulares btn-secondary'>
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>    
    </div>
    

    <div *ngIf='mostrarMenu' class="container-fluid justify-content-center">
        <ul class='sinPuntos'>
            <li><a routerLink="/home"><mat-icon>home</mat-icon>Inicio</a></li>
            <li><a routerLink="/questions"><mat-icon>contact_support</mat-icon>Preguntas frecuentes</a> </li>
            <li><a routerLink="/about-us"><mat-icon>face</mat-icon>Nosotros</a></li>
            <li><a routerLink="/instructions"><mat-icon>assignment</mat-icon> Instrucciones</a></li>
        </ul>

    </div>
</nav>