<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0"><b>Bienvenidos</b></h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <mat-icon>code</mat-icon>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Este es <b>CAbot</b> tu asistente diseñado para
      <b>responder</b>
      tus dudas referentes a la asignatura de <b>control automático</b>
    </p>
    <!-- Boton principal para empezar el chat -->
    <button class="btn btn-primary mt-3 mb-3 btn-lg btn-block text-uppercase" routerLink="/chat"> <b>Empezemos</b>
    </button>
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="../../assets/imagenes/TOCLICK.png" alt="" />


  </div>
</header>

<section id="descubre-como-puedes-vender">
  <div class="row separacion">
    <div class="col-6">
      <h1 class="__trans__32">¿Cómo puedes preguntarle a <b> CAbot </b>?</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-md-6">
      <div class="colorLetra">
        <p>Con CAbot queremos que <b>aclares todas tus dudas conceptuales</b> <br> referentes a control automático.</p>
      </div>
      

      <div class="margenFoto">

        <img class="img-fluid" src="../../assets/imagenes/FotoManual.jpg" alt="ImagenManual">
      </div>
    </div>
    <div class="col-md-6">
      <h1>Preguntas Escritas:</h1>
      <div class="colorLetra">
        <p>Interacciona con nuestra Inteligencia Artificial por medio de preguntas escritas.</p>
        <ol>
          <li>El usuario ingresa a la sección de dialogo con el bot dando clic en <b>empezar</b> o haciendo clic en el
            icono que se encuentra en la <b>esquina inferior derecha.</b></li>
          <li><b>Se ingresa la pregunta </b>que se desea aclarar por medio del <b>cuadro de texto</b> del chat.</li>
          <li><b>Se Espera</b> que la pregunta sea respondida, <b>la respuesta se podra ver y escuchar en la
              plataforma</b>.</li>
          <li>El usuario puede revisar en todo momento otras secciones de la plataforma <b>sin que se pierdan sus
              mensajes
              anteriormente escritos</b>.</li>

        </ol>
      </div>
      <h1>Preguntas por medio de voz:</h1>

      <div class="colorLetra">
        <p>Interacciona con nuestra Inteligencia Artificial por medio de preguntas por medio de voz.</p>
        <ol>
          <li>El usuario ingresa a la sección de dialogo con el bot dando clic en <b>empezar</b> o haciendo clic en el
            icono que se encuentra en la <b>esquina inferior derecha</b>. </li>
          <li><b>Se ingresa la pregunta </b>que se desea aclarar por medio del <b>boton verde</b> que se encuentra en la
            caja de mensaje.</li>
          <li>Una vez empiece la grabación de voz, <b>el botón se pondrá en color rojo</b>. Una vez termines de decir tu
            pregunta, <b>dale clic al botón rojo</b>.</li>
          <li><b>Espera tu respuesta</b>.</li>


        </ol>
      </div>

    </div>




  </div>

</section>